{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="{% url 'dashboard:home' %}" class="brand-link">
        <img src="{% static 'img/clock-white.png' %}"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-normal">Control de Asistencia</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">



                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>
                            Configuración
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <!-- USUARIOS -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-users nav-icon"></i>
                                <p>
                                    Usuarios
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'usuarios:tipo_usuario_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Tipos de Usuarios</p>
                                    </a>
                                </li>
                                <!--<li class="nav-item">
                                    <a  class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Personas</p>
                                    </a>
                                </li>-->
                                <li class="nav-item">
                                     <a href="{% url 'usuarios:usuarios_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Usuarios</p>
                                    </a>
                                </li>
                                <!--<li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Roles</p>
                                    </a>
                                </li>-->
                            </ul>
                        </li>
                    </ul>

                    <!-- GEOGRAFICO -->

                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-globe-americas nav-icon"></i>
                                <p>
                                    Geográfico
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'geografico:paises_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Paises</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'geografico:provincias_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Provincias</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'geografico:localidades_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Localidades</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <!-- PARAMETROS -->

                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-cog nav-icon"></i>
                                <p>
                                    Parametros
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="{% url 'parametros:tipos_documentos_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Tipos de documentos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'parametros:sexos_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Sexos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                   <a href="{% url 'parametros:estados_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Estados</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'parametros:tarjetas_list' %}" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>Tarjetas</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</aside>


